html, body
{
    height: 95.5%;
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.content-wrapper
{
    background-color: white !important;
}

hr
{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid silver;
    border-bottom: 1px solid whitesmoke;
}

hr.slim
{
    margin-top: 10px;
    margin-bottom: 10px;
}

a
{
    text-decoration: none;
}

.popover-table
{
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

.popover-table td
{
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.tframe
{
    margin: 10px;
    padding-top: 5px !important;
    padding-bottom: 8px !important;
    padding-left: 15px !important;
    padding-right: 5px !important;
    border-radius: 0px !important;
    border: 1px solid #ddd !important;
}

.tframe legend
{
    background: white;
    color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 0 0 0 1px #C7C7C7;
    margin-left: 3px;
    padding-right: 5px;
    margin-right: 5px;
    height: 28px;
}

.tframe legend label
{
    padding-left: 3px;
    font-weight: bold;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    display: inline-block;
    height: 28px;
    padding: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #ccc;
}

.tformtitle + tr > td
{
    padding-top: 15px !important;
}

.ui-datepicker-trigger
{
    height: 28px !important;
}

.tseekbutton
{
    height: 28px !important;
    border-radius :0 !important;
}

.tseekbutton i
{
    padding-left:2px;
}

span.tdate-group-addon, span.input-group-addon.tcolor {
  height: 28px !important;
  border-radius:0 !important;
}

.tdate-group .tfield, .tdate-group .tfield_disabled
{
    border-radius: 0;
}

.input-group.color-div input {
    border-radius: 3px 0 0 3px !important;
}

span.tdate-group-addon > i.fa-clock-o, span.tdate-group-addon > i.glyphicon-calendar {
  width:24px !important;
  padding-top:2px;
}

.panel form[type="bootstrap"] .ttd
{
    display: inline-block;
    margin-top: 7px;
}

.login-avatar
{
    width: 35px;
    height: 28px;
    padding: 6px 12px;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-right: 0;
    
}

select.tcombo
{
    border: 1px solid #ccc !important;
    border-radius: 0;
}

select.tcombo:not([multiple='1'])
{
    height: 28px;
}

.tfield:focus
{
    border-color: #3c8dbc !important;
    box-shadow: none !important;
    border-radius         : 0;
    -webkit-border-radius : none !important;
    -moz-border-radius    : none !important;
    -webkit-box-shadow : none !important;
       -moz-box-shadow : none !important;
            box-shadow : none !important;
}

textarea
{
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
    background: white;
    background-image: white;
}

label
{
    margin-bottom: 5px;
}

label, input, button, select, textarea
{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-size: 12px;
    margin: 0px;
}

.ui-widget
{
    font-family: inherit;
    font-size: inherit;
}

.ui-dialog .table>tbody>tr>td
{
    padding: 4px;
    vertical-align: middle;
}

.ui-dialog .panel .panel-body
{
    padding: 8px;
    padding-bottom: 4px;
}

.ui-dialog .window_modal
{
    padding:0.2px;
}

.ui-dialog .window_modal .panel
{
    margin-bottom:0;
    border-top:0;
    border-radius:0;
    overflow:hidden;
}

.ui-dialog .ui-dialog-titlebar
{
    margin-bottom: 0;
}

.tformtitle + tr > td
{
    padding-top: 15px !important;
}

.tformtitle > td
{
    background-color: #3c8dbc !important;
    padding: 8px 0px 8px 5px !important;
}

.tformtitle > td > label
{
    color: white !important;
}

.tformaction > td
{
    padding: 12px !important;
}

.tform > table
{
    background: #fff;
    border: 1px solid #C6C6C6 !important;
    padding: 0px !important;
}

.tform
{
    background: white !important;
    border: none !important;
    border-radius: none !important;
    padding: 0px !important;
    margin-bottom: 20px !important;
}

.tdatagrid_head tr td
{
    height: 34px;
}

.tdatagrid_body tr td
{
    height: 30px;
}

.tdatagrid_body tr td input
{
    height: 24px;
    margin: 0;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}


.navbar-default .navbar-brand
{
    font-family: 'Open Sans';
}

.sidebar
{
    font-family: 'Open Sans';
}

.tbreadcrumb li span
{
    font-family: 'Open Sans';
    font-size: 10pt;
}

.navbar-right {
    margin-right: 0 !important;
}

.badge-notify{
   background: #E16D6D;
   position:relative;
   top: -12px;
   left: -12px;
}

ul.navbar-top-links > li.dropdown >a {
    background: inherit;
}

ul.navbar-top-links > li.dropdown > a:hover {
    background: #4A9FE0;
}

ul.navbar-top-links .open>a, ul.navbar-top-links .open>a:hover, ul.navbar-top-links .open>a:focus {
    background: #4A9FE0;
}

@media only screen and (min-width: 501px) {
    #search-box {
        display:inline !important;
        float:left;
    }
}

@media only screen and (max-width: 500px) {
    #search-box {
        display:none !important;
    }
    
    ol.tbreadcrumb li 
    {
        padding: 0;
    }
    
    .tbreadcrumb li span
    {
        font-size: 8pt;
    }
    
    #div_breadcrumbs > ol > li:nth-child(1)
    {
        display: none;
    }
    
    ol.tbreadcrumb li a
    {
        padding-right: 0.75em;
    }
}

@media only screen and (max-width: 550px) {
    .pagination>li>a, .pagination>li>span {
        padding: 6px;
    }
}


.navbar-custom-menu > .navbar-nav {
    float: right;
}

.sidebar-menu .treeview li, .sidebar-menu .treeview ul
{
    background: none;
    overflow: hidden;
    white-space: normal;
}

.select2-container--default .select2-selection
{
    padding-left: 4px !important;
}

input.select2-search__field
{
    height: 20px;
}

.tform
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tform .tformtitle > td:first-child
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tform .tformtitle > td:last-child
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

table.tdatagrid_table
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#form_login table > tbody > tr.tformtitle > td
{
    text-align: center;
}

#form_login table > tbody > tr.tformtitle > td > label
{
    padding: 0;
    padding: 8px;
    font-size: 17pt;
}

.panel-default>.panel-heading
{
    border-top: 1px solid #797979;
    background: #f8f8f8;
    min-height: 52px !important;
    padding: 7px !important;
}

.panel-footer
{
    background: #f8f8f8;
}

.btn:not(.btn-link):not(.btn-circle) i
{
    font-size: 12px !important;
    position: initial !important;
    top: initial !important;
}

button.btn-default
{
    height:30px;
}

button.btn-primary
{
    color: white;
}

.panel > .panel-footer > .tpagenavigation, .panel > .panel-footer > .tpagenavigation_resume
{
    padding-top:0;
}

.left-mailbox {
    float: left; 
    width: 160px;
    margin-right: 10px;
}

.right-mailbox { 
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .left-mailbox { 
        float: none;
        width: auto;
        margin-right:0;
    }
}

.ui-dialog .table tbody tr td, .table tbody tr th
{
    padding: 8px !important;
    border-bottom: 0 !important;
}

.ui-dialog .panel-default>.panel-heading
{
    border-top: 0;
    background: #f8f8f8;
}

input[type="radio"], input[type="checkbox"]
{
    margin-right: 4px !important;
}

.tcheckgroup_label, .tcheckgroup_label > input
{
    cursor:pointer;
}


/* Compatibilidade de cores para o builder */
.bg-red {
  background-color: #F44336 !important;
  color: #fff; }
.bg-pink {
  background-color: #E91E63 !important;
  color: #fff; }
.bg-purple {
  background-color: #9C27B0 !important;
  color: #fff; }
.bg-deep-purple {
  background-color: #673AB7 !important;
  color: #fff; }
.bg-indigo {
  background-color: #3F51B5 !important;
  color: #fff; }
.bg-blue {
  background-color: #2196F3 !important;
  color: #fff; }
.bg-light-blue {
  background-color: #03A9F4 !important;
  color: #fff; }
.bg-cyan {
  background-color: #00BCD4 !important;
  color: #fff; }
.bg-teal {
  background-color: #009688 !important;
  color: #fff; }
.bg-green {
  background-color: #4CAF50 !important;
  color: #fff; }
.bg-light-green {
  background-color: #8BC34A !important;
  color: #fff; }
.bg-lime {
  background-color: #CDDC39 !important;
  color: #fff; }
.bg-yellow {
  background-color: #ffe821 !important;
  color: #fff; }
.bg-amber {
  background-color: #FFC107 !important;
  color: #fff; }
.bg-orange {
  background-color: #FF9800 !important;
  color: #fff; }
.bg-deep-orange {
  background-color: #FF5722 !important;
  color: #fff; }
.bg-brown {
  background-color: #795548 !important;
  color: #fff; }
.bg-grey {
  background-color: #9E9E9E !important;
  color: #fff; }
.bg-blue-grey {
  background-color: #607D8B !important;
  color: #fff; }
.bg-black {
  background-color: #000000 !important;
  color: #fff; }
.bg-white {
  background-color: #ffffff !important;
  color: #fff; }

input[widget="tslider"] {
    margin: auto;
}

input[widget="tspinner"] {
    border:0;
}

input[widget="tfile"], input[widget="tmultifile"] {
    padding:2px;
    height: 28px;
}

select.tcombo {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='17' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") !important;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.sourcecodewrapper
{
    background: #262722;
    font-weight:bold;
    border-radius:3px;
    padding:8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    overflow-x: auto;
}

.tsourcecode code
{
    font-family: Andale mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Lucida Console, Monaco, Consolas, Droid Sans monospace, Monospace;
    line-height: normal;
    background: #262722;
}

.file-response-icon {
    position: absolute;
    padding-left: 3px;
    padding-top: 3px;
}

.input-data-search
{
    box-shadow:none;
    border-radius: 0;
    border: 1px solid #afafaf;
}

.input-data-search:focus
{
    border: 1px solid #8C8CF9;
}

.fc-scroller
{
    overflow-x: visible !important;
}

#envelope_messages li.header
{
    font-weight: bold;
    text-align: center;
}

#envelope_notifications li.header
{
    font-weight: bold;
    text-align: center;
}

.little-float-button {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 40px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 20000;
    font-size: 100%;
    color: white;
    right: 10px;
}

.little-float-button.disabled {
    background-color: gray;
}

.little-float-button:hover, .little-float-button:focus {
    color: white;
}

.little-float-button .internal-float-button {
    margin-top: 8px;
}

div > div.panel > .panel-body {
    padding: 10px;
}

.fb-field-container:after {
    content: '';
    display: block;
    clear: both;
}