<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adianti Framework ERP Template III</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {LIBRARIES}
    {HEAD}
    <script>
        function update_messages_menu() {
            $.get('engine.php?class=MessageList&theme=theme3', function(data) {
                $('#envelope_messages').html(data);
            });
        }
        
        function update_notifications_menu() {
            $.get('engine.php?class=NotificationList&theme=theme3', function(data) {
                $('#envelope_notifications').html(data);
            });
        }
        
        $(function() {
            $.get('engine.php?class=SearchBox', function(data)
            {
              $('.navbar-custom-menu').append(data).show();
              var search_box = $('.navbar-nav').nextAll('div');
              search_box.css('padding-top', '10px');
              search_box.css('padding-left', '25px');
              search_box.css('display', 'table');
              search_box.css('float', 'left');
              search_box.attr('id', 'search-box');
            });
            
            update_messages_menu();
            update_notifications_menu();
            
            // setInterval( update_messages_menu, 5000);
            // setInterval( update_notifications_menu, 5000);
        });
    </script>
    <link rel="stylesheet" href="app/templates/{template}/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="app/templates/{template}/css/skins/skin-blue.min.css">
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="http://www.adianti.com.br/framework" target="newwindow" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>AT</b>3</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Adianti</b>Template III</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            
              <li class="dropdown messages-menu" id="envelope_messages">
                  <!-- /.dropdown-messages -->
              </li>
              
              <li class="dropdown notifications-menu" id="envelope_notifications">
                  <!-- /.dropdown-messages -->
              </li>
              
              <li class="dropdown notifications-menu" id="support">
                <a generator="adianti" href="index.php?class=SystemSupportForm">
                    <i class="fa fa-life-ring fa-fw"></i>
                </a>
              </li>
              
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-user"></i>
                  <span class="hidden-xs">{username}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header" style="height:initial">
                    <i class="fa fa-user fa-3x" style="color:white"></i>
                    <p>
                      {username}
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a generator="adianti" href="index.php?class=SystemProfileView" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-left">
                      <a generator="adianti" href="index.php?class=LoginForm&method=reloadPermissions&static=1" class="btn btn-default btn-flat">Recarregar</a>
                    </div>
                    <div class="pull-right">
                      <a generator="adianti" href="index.php?class=LoginForm&method=onLogout&static=1" class="btn btn-default btn-flat">Sair</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <i class="fa fa-user fa-2x" style="color:white"></i>
            </div>
            <div class="pull-left info" style="position:initial">
              <p>{username}</p>
            </div>
          </div>
          <!-- search form -->
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
          <li class="header">MAIN NAVIGATION</li>
          </ul>
          {MENU}
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div id='adianti_div_content'>
            </div>
        </section><!-- /.content -->
        
        <div id="adianti_online_content"></div>
        <div id="adianti_online_content2"></div>
        
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> x.y.z
        </div>
        <strong>Footer</strong>
      </footer>


      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- AdminLTE App -->
    <script src="app/templates/{template}/js/app.min.js"></script>
  </body>
</html>
