<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Adianti Framework ERP Template III</title>
        
        {LIBRARIES}
        {HEAD}
            
        <link rel="stylesheet" href="app/templates/{template}/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="app/templates/{template}/css/skins/skin-blue.min.css">
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="main-header navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; text-align:center">
                <div class="navbar-header" style="display: inline-block;float:none">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color:black" href="http://www.adianti.com.br/framework">Adianti Framework ERP Template III</a>
                </div>
                <!-- /.navbar-header -->
            </nav>
    
            <div id="adianti_div_content"></div>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            
        </div>
        <div style="text-align:center"><a href="index.php?class=PublicView">[public view]</a></div>
        <!-- /#wrapper -->
    </body>
</html>