  <li class="dropdown">
     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-cog fa-fw fa-lg"></i>
     </a>
     <ul class="dropdown-menu">
        <li class="header">Adianti Builder</li>
        <li>
            <a onclick="__adianti_builder_edit_page()" generator="adianti" style="cursor:pointer">
                <i class="fa fa-pencil-square-o blue fa-fw"></i> Editar a página
            </a>
        </li>
        <li>
            <a onclick="__adianti_builder_update_page()" generator="adianti" style="cursor:pointer">
                <i class="fa fa-download green fa-fw"></i> Atualizar a página
            </a>
        </li>
        <li>
            <a onclick="__adianti_builder_get_new_pages()" generator="adianti" style="cursor:pointer">
                <i class="fa fa-cloud-download orange fa-fw"></i> Baixar novas páginas
            </a>
        </li>
        <li>
            <a onclick="__adianti_builder_update_menu()" generator="adianti" style="cursor:pointer">
                <i class="fa fa-bars blue fa-fw"></i> Atualizar menu
            </a>
        </li>
     </ul>
  </li>