<!DOCTYPE html>
<html>
<head>
    <title>Adianti ERP Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {LIBRARIES}
    {HEAD}
</head>
<body>
    <div class="adianti_container">
        <div class="header">
            <div class="thin_bar">
                &nbsp;
            </div>
            <div class="header_content">
                <div class="logo1" style="text-align: center;float: none;">
                    <a target="newwindow" href="http://www.adianti.com.br/framework">
                        Adianti Framework ERP Template I
                    </a>
                </div>
            </div>
            
            <div class="header_bottom" style="clear:both"></div>
        </div>
        
        <div class="body">
            <div id="adianti_div_content" class="login"></div>
            <div id="adianti_online_content"></div>
            <div id="pageboth"><br></div>
        </div>
        <div style="clear:both;"></div>
        <div style="text-align:center"><a href="index.php?class=PublicView">[public view]</a></div>
    </div>
</body>
</html>